[submodule "mkbootimg"]
	path = mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/backslashxx/KernelSU
[submodule "NoMount"]
	path = NoMount
	url = https://github.com/maxsteeel/nomount/
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
