CONFIG_KSU=y
CONFIG_KSU_HACK_ARM64_BRANCH_LINK=y
# CONFIG_KSU_TAMPER_SYSCALL_TABLE is not set
CONFIG_KSU_LSM_SECURITY_HOOKS=y
CONFIG_KSU_FEATURE_SULOG=y
CONFIG_KSU_FEATURE_ADBROOT=y
# CONFIG_KSU_FEATURE_ADBROOT_DEFAULT_ENABLE is not set
CONFIG_KSU_HOSTSREDIRECT=y
# CONFIG_KSU_ENABLE_FULL_UID_CHECKS is not set
CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED=y
# CONFIG_KSU_NOPRINTK is not set
CONFIG_KSU_SHELL_HAS_SU_ALWAYS=y
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_HEURISTIC_IN_TREE_BUILD=y
